body {
  background-color: #f5f0f0;
  box-sizing: border-box;
}

.logo {
  height: 4rem;
  width: 4rem;
}

.homeNav {
  background-color: #ffffff;
  color: black;
  box-shadow: 0 4px 2px -2px rgb(206, 201, 201);
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 10;
}
a {
  text-decoration: none;
}

.instagramTitle {
  font-weight: 600;
  font-size: 1.6rem;
  color: black;
}

.homeNavContainer {
  display: flex;
  justify-content: space-around;
  align-items: center;
}
.homeNavContainer > input {
  margin-right: 5rem;
}

.logoAndInstagramTitle {
  display: flex;
  align-items: center;
  padding-right: 10rem;
}

.navBarIcons {
  display: flex;
  justify-content: space-between;
  width: 15rem;
}

.profileIcon > svg,
.homeIcon > svg,
.messageIcon > svg,
.addPostIcon > svg,
.notificationsIcon > svg {
  height: 1.5rem;
  width: 1.5rem;
  color: black;
}
.navBarIcons > *:hover {
  cursor: pointer;
}
.sidebarContainer {
  position: fixed;
  right: 10rem;
  top: 10rem;
  display: flex;
  flex-direction: column;
  height: 10rem;
  justify-content: space-around;
}
.postsContainer {
  border: 1px solid black;
  height: 100vh;
  width: 40rem;
  margin-top: 10rem;
  margin-left: 10rem;
}

.signUpButton,
.logInButton {
  border: none;
  color: white;
  background-color: black;
  height: 3rem;
  width: 8rem;
  border-radius: 10px;
}

.signUpButton:hover,
.logInButton:hover {
  cursor: pointer;
  box-shadow: 0 0 15px #44423e;
}
.signUpPage,
.settingsPage {
  display: flex;
  justify-content: center;
}
.signUpContainer {
  display: grid;
  grid-template-rows: 2.5fr 0.1fr 2.5fr;
  align-items: center;
  justify-items: center;
  height: 100vh;
  width: 20rem;
  border: 1px solid black;
  background-color: #ffffff;
}

.settingsContainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
  width: 20rem;
  border: 1px solid black;
  background-color: #ffffff;
}

.settingsHeader > h1 {
  margin: 0;
}
.settingsHeader {
  margin-top: 2.5rem;
  margin-bottom: 1rem;
}

.changeSettingsContainer {
  display: grid;
  justify-items: center;
}

.alreadySignedUpContainer {
  text-align: center;
  display: flex;
  flex-direction: column;
  height: 5rem;
  justify-content: space-between;
}
.addUser {
  display: flex;
  flex-direction: column;
  height: 5rem;
  justify-content: space-between;
}

.profileOptionsMenu {
  background-color: #555;
  color: #fff;
  text-align: center;
  border-radius: 6px;
  padding: 8px;
  position: absolute;
  z-index: 5;
  height: 8rem;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}
.signUpButtonNavBar {
  text-decoration: none;
  color: white;
}

.followersAndPosts {
  display: flex;
  justify-content: space-between;
  width: 20rem;
}

.username {
  color: rgb(172, 170, 170);
}

.homepageProfilePic {
  width: 6rem;
  height: 6rem;
  border-radius: 10rem;
  margin-right: 2rem;
  object-fit: cover;
}

.profilePagePic {
  width: 10rem;
  height: 10rem;
  border-radius: 10rem;
  margin-right: 2rem;
  object-fit: cover;
  position: absolute;
  top: 17rem;
  left: 5rem;
}

.settingsProfilePic {
  border-radius: 10rem;
  width: 6rem;
  height: 6rem;
}
.pictureAndName {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  text-decoration: none;
  color: black;
}

.newPost {
  border: none;
  background-color: inherit;
}
.following,
.followers,
.posts {
  text-align: center;
}
.iconAndNewPostButton {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.iconAndNewPostButton:hover,
.pictureAndName:hover {
  cursor: pointer;
}

.profilePicture {
  border-radius: 100px;
  height: 10rem;
  width: 10rem;
  object-fit: cover;
}

.profileContainer {
  margin-top: 3rem;
}
textarea {
  width: 15rem;
  height: 8rem;
}

.editProfileForm {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  text-align: center;
  height: 15rem;
}
.profileButtons {
  margin-top: 1rem;
}

.profileButtonsContainer {
  width: 11rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: absolute;
  top: 18.5rem;
  right: 5rem;
}

.addPostButton {
  border-radius: 4rem;
  border: 1px solid rgb(206, 199, 199);
  background-color: white;
  height: 2rem;
  width: 2rem;
}

.editProfileButton {
  height: 3rem;
  width: 8rem;
  border: 1px solid rgb(206, 199, 199);
  border-radius: 5rem;
  background-color: white;
}

.addPostButton:hover,
.editProfileButton:hover {
  cursor: pointer;
  background-color: rgb(233, 227, 227);
}

.saveProfileEdits {
  width: 5.3rem;
}

.profileCoverPhoto {
  height: 100%;
  width: 100%;
  object-fit: cover;
  image-rendering: auto;
  image-rendering: crisp-edges;
  image-rendering: pixelated;
}

.settingsCoverPhoto {
  height: 13rem;
  width: 20rem;
}

.settingsCoverPhoto > input,
.settingsProfilePicContainer > input {
  display: none;
}

.settingsCoverPhoto:hover,
.settingsProfilePic:hover {
  cursor: pointer;
  background-color: #000;
  opacity: 0.9;
}
.settingsProfilePic {
  object-fit: cover;
}

.profileCoverPhotoContainer {
  overflow: hidden;
  height: 17rem;
}

.bioDescription {
  width: 15rem;
}

.profileInfoLeft {
  margin-top: 7rem;
  margin-left: 6rem;
}

.navBarProfileButton {
  color: white;
}


.userInfoAndPostContainer {
  display: flex;
  justify-content: space-between;
}

.during-popup {
  background: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7));
}
.PopUp {
  position: fixed;
  left: 25%;
  top: 5%;
  width: 50%;
  border: 1px solid #011627;
  border-radius: 1rem;
  height: 40rem;
  background-color: #fdfffc;
  color: #011627;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.createNewPostTitle {
  margin-top: 3.5rem;
}

.PopUpContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  position: fixed;
  background-color: rgba(0, 0, 0, 0.5);
  width: 100%;
  height: 100vh;
  top: 0;
  left: 0;
  z-index: 100;
}

.popup-x {
  width: 3rem;
  height: 2rem;
  font-size: 2rem;
  border: none;
  border-top-right-radius: 1rem;
  background-color: white;
  position: absolute;
  top: 3rem;
  right: 3rem;
}

.newPostAndCaptionContainer {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  height: 80%;
  margin-bottom: 2rem;
}

.newPostAndCaptionContainer > input {
display: none;
}

.newPostImagePreview {
  height: 15rem;
  width: 15rem;
  object-fit: contain;
}

.profilePostImage {
  height: 10rem;
  width: 10rem;
}

.profilePostContainer {
  border: 1px solid black;
  height: 100vh;
  width: 60rem;
  margin-top: 5rem;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
}

.profilePostImage {
  object-fit: contain;
}

.postPageContainer {
 display: flex;
 justify-content: center;
 align-items: center;
 height: 100vh;
}

.individualPostContainer {
  border: 1px solid black;
  width: 80%;
  height: 100%; 
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.currentPost {
  height: 40rem;
  width: 40rem;
  object-fit: contain;
}

.loadingPage {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}